header{
    background-color: lightseagreen;
    grid-area: header;
    display: flex;
    .headercss{
        background-image:linear-gradient(to right, lightseagreen, $bg_lightbluegreen);
        width: 100%;
        .logo{
            margin: 15px;
            display: flex;
            justify-content: center;
        }
        nav{
            ul{
                li{
                    a{
                        color:#09134d;
                        font-size: 20px;
                        font-weight: 400;
                        display: inline-block;
                    }
                }
            }
        }
        .header-btn{
            margin: 15px;
            display: flex;
            justify-content: center;
            a{
                font-weight: bold; width:80%;
            }
        }
    }
}