@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
$h1Posicion:(
    top: #079b7b,
    medium: #0da6ac,
    bottom: #057c76
);
$styles:(
    tamano: 3.5rem,
    centro: center,
    duracion: 2s,
    nombreAnimacion: aparecer
);
main{
    .portada{
        @each $h1pos, $color in $h1Posicion{
            .h1#{$h1pos}{
                color: $color;
                font-size: map-get($styles , tamano);
                text-align: map-get($styles , centro);
                animation-duration: map-get($styles , duracion);
                animation-name: map-get($styles , nombreAnimacion);
                animation-iteration-count: infinite;
            }
        }
        
    }
    .h1Galeria{
        @extend .h1top;
        font-weight: bold;
    }
}